<button type="button" class="btn btn-primary show-btn">Show alert</button>

<script>
  // $('.show-btn').on('click', function() {
  //   alert("This is a test");
  // });
  new ProductsView();
</script>
