<button type="button" class="btn btn-primary show-btn">Show alert</button>

<%= link_to "Show alert (remote true)", alert_js_path, remote: true, class: 'btn btn-primary' %>

<script>
  // $('.show-btn').on('click', function() {
  //   alert("This is a test");
  // });
  new ProductsView();
</script>
